<section class="shadow-xl rounded-md m-4 p-4 bg-white">
  <app-search [parent]="'all-shifts'"></app-search>
  <div class="">
    <p *ngIf="allShifts.length === 0" class="text-center text-xl font-semibold">
      For current filters selection there are no shifts, please go to
      <a routerLink="/add-shift" class="underline hover:text-blue-400"
        >Add Shift</a
      >
      page and add your first shift!
    </p>
    <ul *ngIf="allShifts.length != 0" class="custom-grid gap-4 w-full">
      <li
        *ngFor="
          let shift of allShifts
            | customFilter
              : filters.nameQuery
              : filters.startDateQuery
              : filters.endDateQuery
              : 'shifts'
            | customSorter : filters.sortByQuery : filters.orderByQuery;
          let index = index
        "
        (click)="editShift()"
        class="relative cursor-pointer"
      >
        <app-shift-card [shift]="shift" [parentName]="'admin'"></app-shift-card>
        <div
          class="absolute top-[-5px] right-[-5px] center bg-red-500 text-white text-bold w-[30px] h-[30px] rounded-[50%] cursor-pointer"
          (click)="deleteShift()"
        >
          <div class="center"><mat-icon fontIcon="delete"></mat-icon></div>
        </div>
      </li>
    </ul>
  </div>
</section>
