<section>
  <app-confirmation-modal
    [title]="'Delete user?'"
    [message]="'Are you sure you want to delete this user?'"
    [confirmButtonMessage]="'Delete'"
    [cancelButtonMessage]="'Cancel'"
    (confirmModalEvent)="confirmModal($event)"
    (closeModalEvent)="toggleModal()"
    [ngClass]="!showModal ? 'hidden' : null"
  ></app-confirmation-modal>
  <app-new-search [parent]="'all-users'"></app-new-search>
  <div class="users">
    <section class="grid grid-cols-4 gap-4">
      <div
        *ngFor="
          let userInfo of allUsers
            | customFilter
              : filters.nameQuery
              : filters.startDateQuery
              : filters.endDateQuery
              : 'users'
        "
        class=""
      >
        <app-user-card
          [userInfo]="userInfo"
          (openModalEvent)="toggleModal($event)"
        ></app-user-card>
      </div>
    </section>
  </div>
</section>
