<section>
  <app-confirmation-modal
    [title]="title"
    [message]="message"
    [confirmButtonMessage]="'Confirm'"
    [cancelButtonMessage]="'Cancel'"
    (confirmModalEvent)="confirmModal($event)"
    (closeModalEvent)="toggleModal()"
    [ngClass]="!showModal ? 'hidden' : null"
  ></app-confirmation-modal>
  <app-new-search [parent]="'all-users'"></app-new-search>
  <div class="users">
    <section class="flex-wrap gap-4 center">
      <div
        *ngFor="
          let userInfo of allUsers
            | customUsersSort : filters.sortByQuery : filters.orderByQuery
        "
        class=""
      >
        <app-user-card
          [userInfo]="userInfo"
          [sortQuery]="filters.sortByQuery"
          (openModalEvent)="toggleModal($event)"
        ></app-user-card>
      </div>
    </section>
  </div>
</section>
