<!-- STATISTICS -->
<section class="gap-4 mb-4 center">
  <ng-container *ngFor="let heading of statsHeadings">
    <app-count-card
      [item]="
        heading === 'Total users'
          ? statistics.totalUsers
          : statistics.totalShifts
      "
      [title]="heading"
      class="flex-1"
    ></app-count-card>
  </ng-container>
</section>
<!-- CHARTS -->
<section class="grid w-full h-full grid-cols-6 gap-4 grid-rows-12">
  <app-chart
    #pieChart
    [pieChartData]="pieChartData"
    [pieChartOptions]="pieChartOptions"
    [chartType]="'pie'"
    class="col-span-2 row-span-6"
  ></app-chart>
  <app-chart
    #barChart
    [barChartData]="barChartData"
    [barChartOptions]="barChartOptions"
    [chartType]="'bar'"
    class="col-span-4 row-span-6"
  ></app-chart>
  <app-chart
    #lineChart
    [lineChartData]="lineChartData"
    [lineChartOptions]="lineChartOptions"
    [chartType]="'line'"
    class="col-span-4 row-span-6"
  ></app-chart>
  <app-chart
    #polarArea
    [polarAreaChartData]="polarAreaChartData"
    [polarAreaChartOptions]="polarAreaChartOptions"
    [chartType]="'polarArea'"
    class="col-span-2 row-span-6"
  ></app-chart>
</section>
