<section class="items-start gap-[35px] center-col py-12 w-full">
  <app-section-heading
    [heading]="'Click to see weekly shifts'"
    [secHeading]="'See last, this and next week shifts with ease.'"
  ></app-section-heading>
  <section class="relative w-full gap-4 center-col">
    <header class="w-full gap-0 center max-sm:flex-col">
      <button
        (click)="setActiveWeek('last')"
        class="flex-1 p-3 font-bold bg-gray-500 center min-w-max"
        [ngClass]="active === 'last' ? 'active' : 'inactive'"
      >
        Last week
      </button>
      <button
        (click)="setActiveWeek('this')"
        class="flex-1 p-3 font-bold bg-gray-500 center min-w-max"
        [ngClass]="active === 'this' ? 'active' : 'inactive'"
      >
        This week
      </button>
      <button
        (click)="setActiveWeek('next')"
        class="flex-1 p-3 font-bold bg-gray-500 center min-w-max"
        [ngClass]="active === 'next' ? 'active' : 'inactive'"
      >
        Next week
      </button>
    </header>
    <!-- inline loading spinner component -->
    <app-inline-spinner class="z-40 w-full"></app-inline-spinner>
    <!-- shifts -->
    <main *ngIf="!toggleSpinner" class="w-full">
      <section class="w-full gap-4 center-col max-sm:hidden">
        <ng-container *ngFor="let shift of shifts">
          <app-shift-card-rect
            [shift]="shift"
            class="w-full"
          ></app-shift-card-rect>
        </ng-container>
      </section>
      <section class="w-full gap-4 center-col sm:hidden">
        <ng-container *ngFor="let shift of shifts">
          <app-shift-card [shift]="shift" class="w-full"></app-shift-card>
        </ng-container>
      </section>
    </main>
  </section>
</section>
