<section class="min-h-[150px] my-[50px] center-col gap-4 items-start">
  <form class="center">
    <label class="custom-label">
      <input
        type="text"
        placeholder="Workplace"
        class="custom-input"
        #newWorkplace
      />
      <button
        (click)="addWorkplace(newWorkplace.value)"
        class="text-3xl center text-lightTextPrimary dark:text-darkTextSecondary"
      >
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </label>
  </form>
  <div class="center justify-start flex-wrap w-[50%]">
    <span
      *ngFor="
        let workplace of currentState.currentLoggedFireUser!.userWorkplaces
      "
      class="px-4 py-2 rounded-md center min-w-max bg-lightBgPrimary dark:bg-darkBgPrimary"
      >{{ workplace }}
      <button
        (click)="removeWorkplace(workplace)"
        class="center hover:text-red-500"
      >
        <mat-icon fontIcon="delete"></mat-icon></button
    ></span>
  </div>
</section>
