<nav
  class="bg-lightBgSecondary dark:bg-darkBgSecondary dark:text-darkTextSecondary shadow-all-sides rounded-xl center-col items-start justify-start p-4 h-full overflow-hidden"
>
  <div class="center p-2">
    <div class="w-[40px] h-[40px] rounded-[50%] bg-black overflow-hidden">
      <img
        src="{{ currentState.currentLoggedFireUser?.profileImage }}"
        alt="{{ currentName }} profile picture"
        class="object-fill"
      />
    </div>
    <div class="text-lg">
      <span class="text-accentColor font-bold"
        >{{ currentName
        }}<mat-icon
          *ngIf="currentState.emailVerified"
          fontIcon="check_circle"
          class="text-baseColor"
        ></mat-icon
      ></span>
    </div>
  </div>
  <hr class="w-full" />
  <ul class="center-col justify-start w-full h-full gap-4">
    <ng-container *ngFor="let route of navbarUserRoutes">
      <li
        routerLink="{{ route.path }}"
        routerLinkActive="activeNavLink"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex gap-4 capitalize text-lg font-semibold text-left w-full cursor-pointer px-4 py-3 hover:text-lightAccent/75"
      >
        <div class="center">
          <mat-icon fontIcon="{{ route.icon }}"></mat-icon>
        </div>
        {{ route.name }}
      </li>
    </ng-container>
    <ng-container *ngIf="isAdmin">
      <hr class="w-full" />
      <li
        *ngFor="let route of navbarAdminRoutes"
        routerLink="{{ route.path }}"
        routerLinkActive="activeNavLink"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex gap-4 capitalize text-md font-semibold text-left w-full cursor-pointer px-4 py-3 hover:text-lightAccent/75"
      >
        <div class="center">
          <mat-icon fontIcon="{{ route.icon }}"></mat-icon>
        </div>
        {{ route.name }}
      </li>
    </ng-container>
  </ul>
  <button
    class="flex gap-4 capitalize text-lg font-bold text-left w-full cursor-pointer px-4 py-3 hover:text-accentColor/75"
    (click)="onSubmit()"
  >
    <div class="center"><mat-icon fontIcon="logout"></mat-icon></div>
    Log Out
  </button>
</nav>
