<nav
  class="bg-white dark:bgDark shadow-all-sides rounded-xl flex flex-col justify-between h-full overflow-hidden"
>
  <ul class="center-col gap-4">
    <ng-container *ngFor="let route of navbarUserRoutes">
      <li
        routerLink="{{ route.path }}"
        routerLinkActive="activeNavLink"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex gap-4 capitalize text-lg font-semibold text-left w-full cursor-pointer px-4 py-3 hover:text-accentColor/75"
      >
        <div class="center">
          <mat-icon fontIcon="{{ route.icon }}"></mat-icon>
        </div>
        {{ route.name }}
      </li>
    </ng-container>
    <ng-container *ngIf="isAdmin">
      <hr class="w-full" />
      <li
        *ngFor="let route of navbarAdminRoutes"
        routerLink="{{ route.path }}"
        routerLinkActive="activeNavLink"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex gap-4 capitalize text-md font-semibold text-left w-full cursor-pointer px-4 py-3 hover:text-accentColor/75"
      >
        <div class="center">
          <mat-icon fontIcon="{{ route.icon }}"></mat-icon>
        </div>
        {{ route.name }}
      </li>
    </ng-container>
  </ul>
  <button
    class="flex gap-4 capitalize text-lg font-bold text-left w-full cursor-pointer px-4 py-3 hover:text-accentColor/75"
    (click)="onSubmit()"
  >
    <div class="center"><mat-icon fontIcon="logout"></mat-icon></div>
    Log Out
  </button>
</nav>
