<div (click)="closeModal($event)" class="modal backdrop-blur-sm">
  <div
    class="p-4 rounded-md center-col bg-lightBgPrimary dark:bg-darkBgSecondary"
  >
    <h1 class="p-4 text-2xl font-bold">{{ title }}</h1>
    <p class="p-4 text-xl">{{ message }}</p>
    <div class="w-full gap-8 center">
      <button
        (click)="confirmModal($event)"
        class="flex-1 px-6 py-3 rounded-md cursor-pointer shadow-light dark:shadow-dark bg-lightSucces"
      >
        {{ confirmButtonMessage }}
      </button>
      <button
        (click)="closeModal($event)"
        class="flex-1 px-6 py-3 rounded-md cursor-pointer shadow-light dark:shadow-dark bg-lightError"
      >
        {{ cancelButtonMessage }}
      </button>
    </div>
  </div>
</div>
