<header
  class="center justify-between bg-white text-black py-4 px-8 h-[100px] shadow-all-sides rounded-xl"
>
  <div class="text-3xl">
    Shift Management
    <span class="text-accentColor font-bold">{{ activeComponent }}</span>
  </div>
  <div class="text-3xl">
    Hey,
    <span class="text-accentColor font-bold"
      >{{ currentUserName
      }}<mat-icon
        *ngIf="currentState.emailVerified"
        fontIcon="check_circle"
        class="text-baseColor"
      ></mat-icon
    ></span>
  </div>
</header>
