<header
  class="center justify-between text-lightTextPrimary bg-lightBgSecondary dark:bg-darkBgSecondary dark:text-darkTextSecondary py-4 px-8 h-[100px] shadow-light dark:shadow-dark rounded-xl"
>
  <div class="text-3xl">
    Shift Management
    <span class="font-bold text-darkAccent">{{ activeComponent }}</span>
  </div>
  <input type="checkbox" (click)="toggleTheme()" />
  <div class="text-3xl">
    Hey,
    <span class="font-bold text-darkAccent"
      >{{ currentUserName
      }}<mat-icon
        *ngIf="currentState.emailVerified"
        fontIcon="check_circle"
        class="text-darkAccent"
      ></mat-icon
    ></span>
  </div>
</header>
