<section class="rounded-md">
  <app-new-search
    [parent]="parent"
    [userID]="
      userIDFromURL ? userIDFromURL : currentState.currentLoggedFireUser!.id
    "
  ></app-new-search>
  <!-- inline loading spinner component -->
  <app-inline-spinner class="z-40 w-full"></app-inline-spinner>
  <!-- shifts -->
  <div *ngIf="!toggleSpinner">
    <p *ngIf="myShifts.length === 0" class="text-xl font-semibold text-center">
      For current filters selection there are no shifts, please go to
      <a routerLink="/add-shift" class="underline hover:text-blue-400"
        >Add Shift</a
      >
      page and add your first shift!
    </p>
    <ul *ngIf="myShifts.length != 0" class="w-full gap-4 custom-grid">
      <li
        *ngFor="
          let shift of myShifts
            | customSort : filters.sortByQuery : filters.orderByQuery;
          let index = index
        "
        (click)="editShift(shift)"
        class="relative cursor-pointer"
      >
        <app-shift-card
          [shift]="shift"
          [sortQuery]="filters.sortByQuery"
          [parentName]="parent"
        ></app-shift-card>
        <div
          class="absolute top-[-5px] right-[-5px] center bg-red-500 text-white text-bold w-[30px] h-[30px] rounded-[50%] cursor-pointer"
          (click)="deleteShift(shift)"
        >
          <div class="center"><mat-icon fontIcon="delete"></mat-icon></div>
        </div>
      </li>
    </ul>
  </div>
</section>
