<section class="min-h-[150px] center justify-start gap-4">
  <div *ngIf="showModal" (click)="closeModal($event)" class="modal center">
    <div class="bg-white p-8 rounded-md">
      <!-- NEW PASSWORD FORM -->
      <ng-container *ngIf="changeType === 'password'">
        <form [formGroup]="changePasswordForm" class="center-col gap-8">
          <p class="text-xl">
            Please input your credentials and new <span>{{ changeType }}</span>
          </p>
          <label class="flex custom-label relative">
            <div class="custom-label-text-l">Email</div>
            <input
              formControlName="email"
              type="text"
              class="custom-input w-[300px]"
            />
          </label>
          <label class="flex custom-label relative">
            <div class="custom-label-text-l">Old password</div>
            <input
              formControlName="oldPass"
              type="text"
              class="custom-input w-[300px]"
            />
          </label>
          <label class="flex custom-label relative">
            <div class="custom-label-text-l">New password</div>
            <input
              formControlName="newPass"
              type="text"
              class="custom-input w-[300px]"
            />
          </label>
          <label class="flex custom-label relative">
            <div class="custom-label-text-l">Confirm password</div>
            <input
              formControlName="confNewPass"
              type="text"
              class="custom-input w-[300px]"
            />
          </label>
          <div class="center gap-4">
            <button
              (click)="changeCredential($event, changeType)"
              [disabled]="changePasswordForm.invalid"
              type="submit"
              class="submit-btn"
            >
              Change
            </button>
            <button
              (click)="closeModal($event)"
              type="submit"
              class="submit-btn"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>
      <!-- NEW EMAIL FORM -->
      <ng-container *ngIf="changeType === 'email'">
        <form [formGroup]="changeEmailForm" class="center-col gap-8">
          <p class="text-xl">
            Please input your credentials and new <span>{{ changeType }}</span>
          </p>
          <small class="text-red-500"
            >Your current email must be verified before you can change
            it!</small
          >
          <label class="flex custom-label relative">
            <div class="custom-label-text-l">Old email</div>
            <input
              formControlName="oldEmail"
              type="text"
              class="custom-input w-[300px]"
            />
          </label>
          <label class="flex custom-label relative">
            <div class="custom-label-text-l">New email</div>
            <input
              formControlName="newEmail"
              type="text"
              class="custom-input w-[300px]"
            />
          </label>
          <label class="flex custom-label relative">
            <div class="custom-label-text-l">Password</div>
            <input
              formControlName="password"
              type="text"
              class="custom-input w-[300px]"
            />
          </label>
          <div class="center gap-4">
            <button
              (click)="changeCredential($event, changeType)"
              [disabled]="changeEmailForm.invalid"
              type="submit"
              class="submit-btn"
            >
              Change
            </button>
            <button
              (click)="closeModal($event)"
              type="submit"
              class="submit-btn"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
  <button class="submit-btn" (click)="openModal($event, 'password')">
    Change Password
  </button>
  <button class="submit-btn" (click)="openModal($event, 'email')">
    Change Email
  </button>
  <button class="submit-btn" (click)="verifyEmail()">Verify Email</button>
</section>
