<section class="min-h-[150px] my-[50px] center justify-start gap-4">
  <div *ngIf="showModal" (click)="closeModal($event)" class="modal center">
    <div class="p-8 rounded-md bg-lightBgSecondary dark:bg-darkBgSecondary">
      <!-- NEW PASSWORD FORM -->
      <ng-container *ngIf="changeType === 'password'">
        <form [formGroup]="changePasswordForm" class="gap-10 center-col">
          <p class="text-xl">
            Please input your credentials and new <span>{{ changeType }}</span>
          </p>
          <label
            *ngFor="let input of changePasswordFormData"
            class="relative flex custom-label"
          >
            <div class="custom-label-text-l">{{ input.name }}</div>
            <input
              formControlName="{{ input.formControl }}"
              type="{{ input.type }}"
              class="custom-input w-[300px]"
            />
            <div
              *ngIf="formStatusPassword(input.formControl)"
              class="absolute bottom-[-25px] left-0 text-red-500"
            >
              {{ getErrorMessagePassword(input.formControl) }}
            </div>
          </label>
          <div class="gap-4 center">
            <button
              (click)="changeCredential($event, changeType)"
              [disabled]="changePasswordForm.invalid"
              type="submit"
              class="submit-btn bg-lightSucces"
            >
              Change
            </button>
            <button
              (click)="closeModal($event)"
              type="submit"
              class="submit-btn bg-lightError"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>
      <!-- NEW EMAIL FORM -->
      <ng-container *ngIf="changeType === 'email'">
        <form [formGroup]="changeEmailForm" class="gap-10 center-col">
          <p class="text-xl">
            Please input your credentials and new <span>{{ changeType }}</span>
          </p>
          <label
            *ngFor="let input of changeEmailFormData"
            class="relative flex custom-label"
          >
            <div class="custom-label-text-l">{{ input.name }}</div>
            <input
              formControlName="{{ input.formControl }}"
              type="{{ input.type }}"
              class="custom-input w-[300px]"
            />
            <div
              *ngIf="formStatusEmail(input.formControl)"
              class="absolute bottom-[-25px] left-0 text-red-500"
            >
              {{ getErrorMessageEmail(input.formControl) }}
            </div>
          </label>
          <div class="gap-4 center">
            <button
              (click)="changeCredential($event, changeType)"
              [disabled]="changeEmailForm.invalid"
              type="submit"
              class="submit-btn bg-lightSucces"
            >
              Change
            </button>
            <button
              (click)="closeModal($event)"
              type="submit"
              class="submit-btn bg-lightError"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
  <button class="submit-btn" (click)="openModal($event, 'password')">
    Change Password
  </button>
  <button class="submit-btn" (click)="openModal($event, 'email')">
    Change Email
  </button>
  <button class="submit-btn" (click)="verifyEmail()">Verify Email</button>
</section>
