<div
  #toastEl
  (click)="closeToast($event, index)"
  class="absolute justify-between gap-4 p-3 center animation-show shadow-all-sides"
  [ngClass]="toast.type"
>
  <div class="gap-6 mx-6 center">
    <mat-icon
      class="icon"
      fontIcon="{{ toast.type === 'success' ? 'check_circle' : toast.type }}"
    ></mat-icon>
    <div class="items-start center-col">
      <h1 class="font-bold">{{ toast.type | titlecase }}</h1>
      <p>{{ toast.message }}</p>
    </div>
  </div>
  <span (click)="closeToast($event, index)"
    ><mat-icon fontIcon="close"></mat-icon
  ></span>
</div>
