<section
  class="flex flex-col text-lightTextPrimary dark:text-darkTextSecondary"
>
  <app-section-heading
    [heading]="'User profile information'"
    [secHeading]="''"
    class="my-[40px]"
  ></app-section-heading>
  <app-user-profile></app-user-profile>
  <app-divider />
  <app-section-heading
    [heading]="'Update your credentials'"
    class="my-[40px]"
    [secHeading]="''"
  ></app-section-heading>
  <app-change-credentials></app-change-credentials>
  <app-divider />
  <app-section-heading
    [heading]="'Add a new workplace'"
    class="my-[40px]"
    [secHeading]="''"
  ></app-section-heading>
  <app-add-workplace></app-add-workplace>
  <app-divider />
  <app-section-heading
    [heading]="'Delete your account'"
    class="my-[40px]"
    [secHeading]="''"
  ></app-section-heading>
  <app-delete-account [userSettings]="userSettings"></app-delete-account>
</section>
