<div
  class="gap-4 p-4 rounded-md center-col shadow-light dark:shadow-dark bg-lightBgPrimary dark:bg-darkBgPrimary dark:text-darkTextPrimary"
>
  <div
    class="w-[100px] h-[100px] rounded-[50%] overflow-hidden shadow-light dark:shadow-dark dark:text-darkTextPrimary center"
  >
    <mat-icon *ngIf="!userInfo?.profileImage" fontIcon="person"></mat-icon>
    <img
      *ngIf="userInfo?.profileImage"
      src="{{ userInfo?.profileImage }}"
      alt="{{ userInfo?.firstName }} photo"
      class="object-cover"
    />
  </div>
  <div class="center-col">
    <div
      class="font-bold center"
      [ngClass]="sortQuery === 'name' ? 'active-query' : null"
    >
      <div class="center">
        <mat-icon fontIcon="person"></mat-icon>
      </div>
      {{ userInfo?.firstName }} {{ userInfo?.lastName }}
    </div>
    <span
      class="text-sm italic font-semibold center text-black/50 dark:text-darkTextPrimary"
      ><div class="center">
        <mat-icon fontIcon="mail"></mat-icon>
      </div>
      {{ userInfo?.email ? userInfo?.email : "Not set" }}</span
    >
  </div>
  <div class="gap-2 text-sm center-col">
    <span class="center" [ngClass]="sortQuery === 'age' ? 'active-query' : null"
      ><div>
        <mat-icon fontIcon="calendar_month"></mat-icon>
      </div>
      {{ userInfo?.age ? userInfo?.age + " years old" : "Not set" }}</span
    ><span class="italic center"
      ><div><mat-icon fontIcon="phone"></mat-icon></div>
      {{ userInfo?.phoneNumber ? userInfo?.phoneNumber : "Not set" }}</span
    >
  </div>
  <div class="gap-2 center">
    <app-button-icon
      [routerLink]="['/admin', 'all-users', 'edit-user']"
      [queryParams]="{ userID: userInfo?.id }"
      [style]="[
        'bg-lightSucces',
        'hover:bg-lightSucces',
        'dark:bg-darkSucces',
        'dark:hover:bg-darkSucces'
      ]"
      [icon]="'edit'"
    ></app-button-icon>
    <!-- <button
      [routerLink]="['/admin', 'all-users', 'edit-user']"
      [queryParams]="{ userID: userInfo?.id }"
      class="gap-1 px-6 py-2 font-bold rounded-md center bg-lightSucces text-darkTextPrimary"
    >
      <div class="center"><mat-icon fontIcon="edit"></mat-icon></div>
    </button> -->
    <!-- <button
      (click)="openModal(userInfo!.id)"
      class="gap-1 px-6 py-2 font-bold rounded-md center bg-lightError text-darkTextPrimary"
    >
      <div class="center"><mat-icon fontIcon="delete"></mat-icon></div>
    </button> -->
  </div>
</div>
