<section class="min-h-[150px] my-[50px] center-col gap-4 items-start">
  <app-button-icon
    (click)="openModal($event)"
    [parent]="'Delete Account'"
    [style]="[
      'bg-lightError',
      'hover:bg-lightError',
      'dark:bg-darkError',
      'dark:hover:bg-darkError'
    ]"
    [icon]="'delete'"
  ></app-button-icon>
  <div
    *ngIf="showModal"
    (click)="closeModal($event)"
    class="modal center backdrop-blur-sm"
  >
    <div class="p-8 m-4 rounded-md bg-lightBgSecondary dark:bg-darkBgSecondary">
      <!-- DELETE ACCOUNT FORM-->
      <form [formGroup]="deleteAccountForm" class="gap-10 center-col">
        <p class="text-xl">
          Please confirm your credentials to delete your account!
        </p>
        <label
          *ngFor="let input of deleteAccount"
          class="relative flex custom-label"
        >
          <div class="custom-label-text-l">{{ input.name }}</div>
          <input
            formControlName="{{ input.formControl }}"
            type="{{ input.type }}"
            class="custom-input w-[300px] max-md:w-[200px]"
          />
          <div *ngIf="formStatus(input.formControl)" class="error-message">
            {{ getErrorMessage(input.formControl) }}
          </div>
        </label>
        <div class="gap-4 center">
          <button
            (click)="deleteAccountFn($event)"
            [disabled]="deleteAccountForm.invalid"
            type="submit"
            class="submit-btn bg-lightError"
          >
            Delete
          </button>
          <button
            (click)="closeModal($event)"
            type="submit"
            class="submit-btn bg-lightSucces"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
