<section class="flex flex-col">
  <div class="py-2 text-2xl font-bold">Update user information</div>
  <app-user-profile></app-user-profile>
  <hr />
  <div class="py-2 text-2xl font-bold">Add user workplace</div>
  <app-add-workplace [userIDFromURL]="userIDFromURL"></app-add-workplace>
  <hr />
  <div class="py-2 text-2xl font-bold">Add admin rights</div>
  <app-admin-rights
    [userID]="userIDFromURL"
    [userData]="userData"
  ></app-admin-rights>
  <hr />
  <button
    (click)="loadShifts = !loadShifts"
    class="p-2 my-10 font-bold bg-lightBgPrimary text-lightTextSecondary dark:bg-darkBgPrimary dark:text-darkTextSecondary shadow-all-sides"
  >
    Toggle user shifts
  </button>
  <section *ngIf="loadShifts">
    <app-my-shifts
      [userIDFromURL]="userIDFromURL"
      class="w-full"
    ></app-my-shifts>
  </section>
</section>
