<section class="flex flex-col">
  <app-section-heading
    [heading]="'User profile information'"
    [secHeading]="''"
    class="my-[40px]"
  ></app-section-heading>
  <app-user-profile></app-user-profile>
  <app-divider />
  <app-section-heading
    [heading]="'Add new workplace for this user'"
    [secHeading]="''"
    class="my-[40px]"
  ></app-section-heading>
  <app-add-workplace [userIDFromURL]="userIDFromParams"></app-add-workplace>
  <app-divider />
  <app-section-heading
    [heading]="'Add new admin rights for this user'"
    [secHeading]="''"
    class="my-[40px]"
  ></app-section-heading>
  <app-admin-rights
    [userID]="userIDFromParams"
    [userData]="userData"
  ></app-admin-rights>
  <app-divider />
  <app-button-icon
    (click)="loadShifts = !loadShifts"
    [parent]="'Toggle user shifts'"
    [style]="['bg-lightPrimary', 'dark:bg-lightPrimary']"
    [icon]="'refresh'"
    class="p-2 my-10 w-max"
  ></app-button-icon>
  <section *ngIf="loadShifts">
    <app-my-shifts
      [userIDFromURL]="userIDFromParams"
      [isAdminPath]="true"
      [parent]="'edit-user'"
      class="w-full"
    ></app-my-shifts>
  </section>
</section>
