<section class="flex flex-col p-4 rounded-md shadow-all-sides">
  <div class="py-2 text-2xl font-bold">Update user information</div>
  <app-user-profile></app-user-profile>
  <hr />
  <div class="py-2 text-2xl font-bold">Add user workplace</div>
  <app-add-workplace></app-add-workplace>
  <hr />
  <button (click)="loadShifts = !loadShifts" class="p-2 my-10 bg-slate-200">
    Load user shifts
  </button>
  <section *ngIf="loadShifts">
    <app-my-shifts
      [userIDFromURL]="userIDFromURL"
      class="w-full"
    ></app-my-shifts>
  </section>
</section>
