<div
  *ngIf="chartType === 'pie'"
  class="h-full p-4 rounded-md center shadow-light dark:shadow-dark bg-lightBgPrimary dark:bg-darkBgPrimary"
>
  <canvas
    baseChart
    [type]="chartType"
    [data]="pieChartData"
    [options]="pieChartOptions"
    class="w-[50%] h-full"
  >
  </canvas>
</div>
<div
  *ngIf="chartType === 'bar'"
  class="h-full p-4 rounded-md center shadow-light dark:shadow-dark bg-lightBgPrimary dark:bg-darkBgPrimary"
>
  <canvas
    baseChart
    [type]="chartType"
    [data]="barChartData"
    [options]="barChartOptions"
    class="w-[50%] h-full"
  >
  </canvas>
</div>
<div
  *ngIf="chartType === 'line'"
  class="h-full p-4 rounded-md center shadow-light dark:shadow-dark bg-lightBgPrimary dark:bg-darkBgPrimary"
>
  <canvas
    baseChart
    [type]="chartType"
    [data]="lineChartData"
    [options]="lineChartOptions"
    class="w-[50%] h-full"
  >
  </canvas>
</div>
<div
  *ngIf="chartType === 'polarArea'"
  class="h-full p-4 rounded-md center shadow-light dark:shadow-dark bg-lightBgPrimary dark:bg-darkBgPrimary"
>
  <canvas
    baseChart
    [type]="chartType"
    [data]="polarAreaChartData"
    [options]="polarAreaChartOptions"
    class="w-[50%] h-full"
  >
  </canvas>
</div>
