<p class="font-semibold text-2xl">Statistics about your shifts</p>
<section class="center justify-evenly gap-4 p-4">
  <!-- STATISTICS -->
  <ng-container *ngFor="let item of shiftsCountValue"
    ><app-count-card [item]="item"></app-count-card
  ></ng-container>
</section>

<div class="grid grid-cols-4 gap-4 p-4 w-full h-full">
  <app-chart
    [pieChartLabels]="pieChartLabels"
    [pieChartDatasets]="pieChartDatasets"
    [chartName]="'Workplaces by Revenue'"
    class="col-span-2"
  ></app-chart>
  <app-chart
    [pieChartLabels]="pieChartLabels"
    [pieChartDatasets]="pieChartDatasets"
    [chartName]="'Shifts by Revenue'"
    class="col-span-2"
  ></app-chart>
</div>
