<div class="justify-between my-4 center">
  <app-section-heading
    [heading]="'Statistics about your shifts'"
    [secHeading]="'Insights into your shift statistics.'"
  ></app-section-heading>
  <div>
    <form [formGroup]="statsDateForm">
      <label class="custom-label">
        <div class="custom-label-text-r">Select Date</div>
        <input type="month" formControlName="statsDate" class="custom-input" />
      </label>
    </form>
  </div>
</div>

<!-- CHARTS & STATS -->
<app-chart-group
  [setUpdateCharts]="updateCharts"
  [statsHeadings]="statsHeadings"
></app-chart-group>
