<div class="center justify-between my-4">
  <p class="font-semibold text-2xl">Statistics about your shifts</p>
  <div>
    <form [formGroup]="statsDateForm">
      <label class="custom-label dark:bgDarkSecond">
        <div class="custom-label-text-r dark:bgDarkSecond">Select Date</div>
        <input
          type="month"
          formControlName="statsDate"
          class="custom-input dark:bgDarkSecond"
        />
      </label>
    </form>
  </div>
</div>
<section class="center gap-4 mb-4">
  <!-- STATISTICS -->
  <ng-container *ngFor="let item of shiftsCountData"
    ><app-count-card [item]="item" class="flex-1"></app-count-card
  ></ng-container>
</section>

<section class="grid grid-cols-6 grid-rows-12 gap-4 w-full h-full">
  <!-- CHARTS -->
  <app-chart
    #pieChart
    [pieChartData]="pieChartData"
    [pieChartOptions]="pieChartOptions"
    [chartType]="'pie'"
    class="col-span-2 row-span-6"
  ></app-chart>
  <app-chart
    #barChart
    [barChartData]="barChartData"
    [barChartOptions]="barChartOptions"
    [chartType]="'bar'"
    class="col-span-4 row-span-6"
  ></app-chart>
  <app-chart
    #lineChart
    [lineChartData]="lineChartData"
    [lineChartOptions]="lineChartOptions"
    [chartType]="'line'"
    class="col-span-4 row-span-6"
  ></app-chart>
  <app-chart
    #polarArea
    [polarAreaChartData]="polarAreaChartData"
    [polarAreaChartOptions]="polarAreaChartOptions"
    [chartType]="'polarArea'"
    class="col-span-2 row-span-6"
  ></app-chart>
</section>
