<section class="center h-full">
  <div
    class="center w-[900px] h-[700px] bg-lightBgSecondary dark:bg-darkBgPrimary shadow-all-sides p-8 rounded-2xl"
  >
    <div class="flex-1 center flex-col gap-4">
      <img
        src="../../../assets/illustrations/login.jpg"
        alt="login illustration"
      />
      <a routerLink="/register" class="custom-link">Create an account</a>
    </div>
    <div class="flex items-start flex-col gap-10 flex-1 p-12">
      <!-- LOG IN WITH EMAIL AND PASSWORD -->
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col items-start gap-8 w-full"
      >
        <h1 class="text-3xl font-extrabold">
          Welcome back! Let's get started.
        </h1>
        <label class="custom-label relative">
          <div class="center">
            <mat-icon fontIcon="mail"></mat-icon>
          </div>
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            class="custom-input"
          />
          <div
            *ngIf="formStatus('email')"
            class="absolute bottom-[-25px] left-0 text-red-500"
          >
            {{ getErrorMessage("email") }}
          </div>
        </label>
        <label class="custom-label relative">
          <div class="center">
            <mat-icon fontIcon="password"></mat-icon>
          </div>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="custom-input"
          />
          <div
            *ngIf="formStatus('password')"
            class="absolute bottom-[-25px] left-0 text-red-500"
          >
            {{ getErrorMessage("password") }}
          </div>
        </label>
        <a (click)="openModal($event)" class="custom-link text-sm"
          >Reset password</a
        >
        <button
          type="submit"
          class="center gap-2 bg-lightPrimary py-3 px-8 rounded-[8px] text-lightTextSecondary font-bold"
          [disabled]="!loginForm.valid"
        >
          <div>Log in</div>
          <div class="center">
            <mat-icon fontIcon="login"></mat-icon>
          </div>
        </button>
      </form>
      <!-- RESET PASSWORD -->
      <div *ngIf="showResetModal" (click)="closeModal($event)" class="modal">
        <div
          class="center-col bg-lightBgSecondary dark:bg-darkBgSecondary rounded-md p-4"
        >
          <h1 class="text-2xl p-4 font-bold">Recover Password</h1>
          <p class="text-xl text-center p-4 max-w-[500px]">
            Enter the email associated with your account and we we'll send you a
            link to reset your password.
          </p>
          <div class="center-col gap-8 w-full">
            <label class="custom-label"
              ><input
                type="text"
                name="emailReset"
                placeholder="Email"
                #emailReset
                class="custom-input"
            /></label>
            <div class="center w-full">
              <button
                (click)="sendResetEmail(emailReset.value)"
                [disabled]="emailReset.value === ''"
                class="flex-1 shadow-all-sides px-6 py-3 rounded-md cursor-pointer bg-lightSucces"
              >
                Send reset link
              </button>
              <button
                (click)="closeModal($event)"
                class="flex-1 shadow-all-sides px-6 py-3 rounded-md cursor-pointer bg-lightError"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ALTERNATIVE LOG IN PROVIDERS -->
      <div class="center-col w-full">
        <p>Or continue with</p>
        <div class="center w-full">
          <button class="center shadow-all-sides py-2 px-8 rounded-lg flex-1">
            <img
              src="assets/icons/google.svg"
              alt="google login icon"
              class="w-8"
            />
          </button>
          <button class="center shadow-all-sides py-2 px-8 rounded-lg flex-1">
            <img
              src="assets/icons/github.svg"
              alt="github login icon"
              class="w-8"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
