<div class="grid grid-cols-12 custom-grid-rows w-full gap-4 p-4 h-full">
  <lib-toastify-toast-container
    position="top-right"
    class="absolute"
  ></lib-toastify-toast-container>
  <ng-container *ngIf="isLoggedIn">
    <app-header class="col-start-1 col-span-12 row-span-1"></app-header>
    <app-navbar class="col-start-1 col-span-2 row-span-2"></app-navbar>
  </ng-container>
  <div
    class="overflow-y-scroll scrollbar-hide h-full p-4 shadow-all-sides rounded-md bg-bgColor"
    [ngClass]="
      isLoggedIn
        ? 'col-start-3 col-span-10 row-span-2'
        : 'col-start-1 col-span-12 row-span-3'
    "
  >
    <router-outlet></router-outlet>
  </div>
</div>
