<section class="center gap-4 my-[50px]">
  <form
    [formGroup]="userProfileForm"
    (ngSubmit)="onSubmit()"
    class="items-start flex-1 gap-8 ml-8 center-col"
  >
    <div *ngFor="let input of settingsFormInputs" class="items-start center">
      <label *ngIf="input.formControl" class="relative custom-label">
        <div class="center">
          <mat-icon fontIcon="{{ input.icon }}"></mat-icon>
        </div>
        <ng-container *ngIf="!input.disabled">
          <input
            formControlName="{{ input.formControl }}"
            type="{{ input.type }}"
            class="custom-input w-[400px]"
          />
          <div
            *ngIf="formInputStatus(input.formControl)"
            class="absolute bottom-[-25px] left-0 text-red-500"
          >
            {{ getErrorMessage(input.formControl) }}
          </div>
        </ng-container>
        <ng-container *ngIf="input.disabled">
          <div class="opacity-25 cursor-not-allowed custom-input w-[400px]">
            {{
              userProfileForm.get(input.formControl)?.value
                ? userProfileForm.get(input.formControl)?.value
                : input.name
            }}
          </div>
        </ng-container>
      </label>
    </div>
    <button
      type="submit"
      [disabled]="userProfileForm.invalid"
      class="submit-btn"
    >
      Update information
    </button>
  </form>
  <div class="flex items-center justify-center flex-1">
    <label for="changeProfilePicture" class="relative center"
      ><div
        (click)="openAvatarsModal($event)"
        class="center absolute bottom-[5%] right-[15%] p-2 bg-lightBgPrimary dark:bg-darkBgPrimary rounded-[50%] shadow-light dark:shadow-dark cursor-pointer"
      >
        <mat-icon fontIcon="add_a_photo"></mat-icon>
      </div>
      <div
        class="center w-[350px] aspect-square rounded-[50%] overflow-hidden border-[3px] border-lighbg-lightPrimary shadow-2xl"
      >
        <img
          [src]="
            profileImage
              ? profileImage
              : 'assets/illustrations/no_image_user.jpg'
          "
          alt=""
          class="object-cover"
        />
      </div>
    </label>
  </div>
  <!-- <app-backdrop
    *ngIf="showPhotosModal"
    (click)="toggleAvatarsModal($event)"
    class="absolute top-0 left-0 z-50 w-full h-full bg-black/25"
  ></app-backdrop> -->
  <div
    *ngIf="showPhotosModal"
    (click)="closeAvatarsModal($event)"
    class="absolute top-0 left-0 z-50 w-full h-full bg-black/25 center"
  >
    <div
      class="max-w-[600px] bg-darkBgSecondary text-darkTextPrimary grid grid-cols-3 gap-4 p-4 rounded-md"
    >
      <div
        *ngFor="let avatar of profileAvatars"
        class="overflow-hidden rounded-md cursor-pointer aspect-square"
      >
        <img
          (click)="changeProfileAvatar(avatar)"
          src="{{ avatar }}"
          alt=""
          class="object-cover"
        />
      </div>
      <div class="border-2 rounded-md aspect-square">
        <label class="w-full h-full cursor-pointer center">
          <mat-icon fontIcon="upload"></mat-icon>
          <input
            (change)="uploadFile($event)"
            type="file"
            name="userProfileImage"
            id="userProfileImage"
            class="hidden"
          />
        </label>
      </div>
    </div>
  </div>
</section>
