<section class="center gap-4 my-[50px]">
  <form
    [formGroup]="userProfileForm"
    (ngSubmit)="onSubmit()"
    class="items-start flex-1 gap-8 ml-8 center-col"
  >
    <div *ngFor="let input of settingsFormInputs" class="items-start center">
      <label *ngIf="input.formControl" class="relative custom-label">
        <div class="center">
          <mat-icon fontIcon="{{ input.icon }}"></mat-icon>
        </div>
        <input
          formControlName="{{ input.formControl }}"
          type="{{ input.type }}"
          class="custom-input w-[400px]"
        />
        <div
          *ngIf="formStatus(input.formControl)"
          class="absolute bottom-[-25px] left-0 text-red-500"
        >
          {{ getErrorMessage(input.formControl) }}
        </div>
      </label>
    </div>
    <button
      type="submit"
      [disabled]="userProfileForm.invalid"
      class="px-4 py-2 text-white rounded-sm bg-baseColor"
    >
      Update information
    </button>
  </form>
  <div class="flex items-center justify-center flex-1">
    <label for="changeProfilePicture" class="relative center"
      ><div
        class="center absolute bottom-[5%] right-[15%] p-2 bg-lightBgPrimary dark:bg-darkBgPrimary rounded-[50%] shadow-all-sides cursor-pointer"
      >
        <mat-icon fontIcon="add_a_photo"></mat-icon
        ><input type="file" id="changeProfilePicture" class="hidden" />
      </div>
      <div
        class="center w-[350px] aspect-square rounded-[50%] overflow-hidden border-[3px] border-lighbg-lightPrimary shadow-2xl"
      >
        <img
          [src]="
            profileImage
              ? profileImage
              : 'assets/illustrations/no_image_user.jpg'
          "
          alt=""
          class="object-cover"
        />
      </div>
    </label>
  </div>
</section>
