<section class="center gap-4 my-[50px]">
  <form
    [formGroup]="userProfileForm"
    (ngSubmit)="onSubmit()"
    class="flex-1 center-col gap-8 items-start ml-8"
  >
    <div *ngFor="let input of settingsFormInputs" class="center items-start">
      <label class="custom-label">
        <div class="center">
          <mat-icon fontIcon="{{ input.icon }}"></mat-icon>
        </div>
        <input
          formControlName="{{ input.formControl }}"
          type="{{ input.type }}"
          class="custom-input w-[400px]"
        />
      </label>
    </div>
    <button
      type="submit"
      class="py-2 px-4 bg-lightPrimary text-lightTextPrimary rounded-sm"
    >
      Update information
    </button>
  </form>
  <div class="flex-1 flex items-center justify-center">
    <label for="changeProfilePicture" class="center relative"
      ><div
        class="center absolute bottom-[5%] right-[15%] p-2 bg-lightBgPrimary dark:bg-darkBgPrimary rounded-[50%] shadow-all-sides cursor-pointer"
      >
        <mat-icon fontIcon="add_a_photo"></mat-icon
        ><input type="file" id="changeProfilePicture" class="hidden" />
      </div>
      <div
        class="center w-[350px] aspect-square rounded-[50%] overflow-hidden border-[3px] border-lighbg-lightPrimary shadow-2xl"
      >
        <img
          [src]="
            profileImage
              ? profileImage
              : 'assets/illustrations/no_image_user.jpg'
          "
          alt=""
          class="object-cover"
        />
      </div>
    </label>
  </div>
</section>
