<section class="h-full center">
  <div
    class="center-col w-[900px] bg-lightBgPrimary dark:bg-darkBgPrimary shadow-all-sides p-8 rounded-2xl"
  >
    <h1 class="text-3xl font-extrabold">Join us! Create your account today.</h1>
    <div class="center">
      <div class="flex-col flex-1 gap-4 center">
        <img
          src="../../../assets/illustrations/register.jpg"
          alt="register illustration"
        />
        <a routerLink="/login" class="underline">Already have an account?</a>
      </div>
      <div class="flex flex-col items-start flex-1 gap-10 p-12">
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          class="flex flex-col items-start w-full gap-8"
        >
          <ng-container *ngFor="let input of formData">
            <label
              *ngIf="input.type != 'checkbox'"
              class="relative custom-label"
            >
              <div class="center">
                <mat-icon fontIcon="{{ input.icon }}"></mat-icon>
              </div>
              <ng-container *ngIf="!input.disabled">
                <input
                  type="{{ input.type }}"
                  placeholder="{{ input.name }}"
                  formControlName="{{ input.formControl }}"
                  [disabled]="input.disabled"
                  class="custom-input"
                />
                <div
                  *ngIf="formStatus(input.formControl)"
                  class="absolute bottom-[-25px] left-0 text-red-500"
                >
                  {{ getErrorMessage(input.formControl) }}
                </div>
              </ng-container>
              <ng-container *ngIf="input.disabled"
                ><div
                  class="opacity-25 cursor-not-allowed custom-input w-[400px]"
                >
                  {{
                    registerForm.get(input.formControl)?.value
                      ? registerForm.get(input.formControl)?.value
                      : input.name
                  }}
                </div></ng-container
              >
            </label>
            <label *ngIf="input.type === 'checkbox'" class="relative w-full">
              <input type="checkbox" formControlName="termsAndConditions" />
              {{ input.name }}
              <div
                *ngIf="formStatus(input.formControl)"
                class="absolute bottom-[-25px] left-0 text-red-500"
              >
                {{ getErrorMessage(input.formControl) }}
              </div>
            </label>
          </ng-container>
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="center submit-btn"
          >
            Create Account
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
