<section class="h-full center">
  <div
    class="p-8 center-col bg-lightBgPrimary dark:bg-darkBgPrimary shadow-light dark:shadow-dark rounded-2xl"
  >
    <h1 class="text-3xl font-extrabold">Join us! Create your account today.</h1>
    <div class="center-col">
      <div class="flex flex-col items-start flex-1 gap-10 p-12">
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          class="flex flex-col items-start w-full gap-8"
        >
          <ng-container *ngFor="let input of formData">
            <label
              *ngIf="input.type != 'checkbox'"
              class="relative custom-label"
            >
              <div class="center">
                <mat-icon fontIcon="{{ input.icon }}"></mat-icon>
              </div>
              <ng-container *ngIf="!input.disabled">
                <input
                  type="{{ input.type }}"
                  placeholder="{{ input.name }}"
                  formControlName="{{ input.formControl }}"
                  [disabled]="input.disabled"
                  class="custom-input"
                />
                <div
                  *ngIf="formInputStatus(input.formControl)"
                  class="absolute bottom-[-25px] left-0 text-red-500"
                >
                  {{ getErrorMessage(input.formControl) }}
                </div>
              </ng-container>
              <ng-container *ngIf="input.disabled"
                ><div
                  class="opacity-25 cursor-not-allowed custom-input w-[400px] max-md:w-[200px]"
                >
                  {{
                    registerForm.get(input.formControl)?.value
                      ? registerForm.get(input.formControl)?.value
                      : input.name
                  }}
                </div></ng-container
              >
            </label>
            <label *ngIf="input.type === 'checkbox'" class="relative w-full">
              <input type="checkbox" formControlName="termsAndConditions" />
              {{ input.name }}
              <div
                *ngIf="termsAndConditions"
                class="absolute bottom-[-25px] left-0 text-red-500"
              >
                {{ input.name }}
              </div>
            </label>
          </ng-container>
          <div class="w-full center">
            <app-button-icon
              [disabled]="registerForm.invalid"
              type="submit"
              [parent]="'Create Account'"
              [style]="['bg-lightPrimary', 'dark:bg-lightPrimary']"
              [icon]="'login'"
              class="p-2 w-max"
            ></app-button-icon>
          </div>
        </form>
      </div>
      <a routerLink="/login" class="underline">Already have an account?</a>
    </div>
  </div>
</section>
