<section class="gap-4 shadow-xl rounded-md m-4 p-4 bg-white">
  <app-search [parent]="'users'"></app-search>
  <div class="users">
    <section class="grid grid-cols-4 gap-4">
      <div
        *ngFor="
          let userInfo of allUsers
            | customFilter
              : filters.nameQuery
              : filters.startDateQuery
              : filters.endDateQuery
              : 'users'
        "
        class=""
      >
        <app-user-card [userInfo]="userInfo"></app-user-card>
      </div>
    </section>
  </div>
</section>
