<div
  class="min-w-[200px] gap-4 p-4 rounded-md aspect-square center-col shadow-light dark:shadow-dark bg-lightBgPrimary dark:bg-darkBgPrimary"
>
  <div
    class="p-4 text-2xl font-bold rounded-xl min-w-20 center shadow-light dark:shadow-dark shadow-lightPrimary bg-lightPrimary text-lightTextPrimary"
  >
    <span *ngIf="subtitle">{{ value | currency }}</span
    ><span *ngIf="!subtitle">{{ value }}</span>
  </div>
  <p class="font-semibold text-center">
    {{ title }} <span *ngIf="subtitle" class="italic"> - {{ subtitle }}</span>
  </p>
</div>
