<section class="h-full max-w-[1200px] m-auto center-col">
  <header class="center justify-between w-full p-4 h-[100px]">
    <div class="w-[200px]">
      <img
        src="/assets/images/logo_text.png"
        alt="ShiftEase logo"
        class="object-cover"
      />
    </div>
    <button routerLink="/login" class="submit-btn">Sign Up</button>
  </header>
  <main class="flex-1 w-full center">
    <section class="items-start flex-1 gap-6 center-col">
      <div class="text-[50px] font-bold">
        ShiftEase - Streamlining Your Workforce
      </div>
      <div class="text-xl text-lightTextSecondary dark:text-darkTextSecondary">
        Revolutionize workforce scheduling with ShiftEase - simplifying,
        optimizing, and empowering your team for peak productivity.
      </div>
      <button routerLink="/register" class="submit-btn">Get Started</button>
    </section>
    <section class="items-end flex-1">
      <img src="/assets/images/landing_page.png" alt="ShiftEase homepage" />
    </section>
  </main>
</section>
