button {
  width: 220px;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  // background: #309053;
  position: relative;
}

button,
button span {
  transition: 200ms;
}

button .text {
  // transform: translateX(35px);
  color: white;
  font-weight: bold;
  flex-grow: 1;
}

button .icon {
  position: relative;
  border-left: 1px solid black;
  color: white;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:not(:disabled):hover .text {
  color: transparent;
}

button:not(:disabled):hover .icon {
  border-left: none;
  transform: translateX(-70px);
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}
