<div class="flex-wrap justify-between gap-12 my-4 center">
  <app-section-heading
    [heading]="'Users and shifts statistics'"
    [secHeading]="'Insights into your user statistics.'"
  ></app-section-heading>
  <div>
    <form [formGroup]="statsDateForm">
      <label class="custom-label">
        <div class="custom-label-text-r">Select Date</div>
        <input type="month" formControlName="statsDate" class="custom-input" />
      </label>
    </form>
  </div>
</div>

<!-- CHARTS & STATS -->
<app-chart-group
  [setUpdateCharts]="updateCharts"
  [countersHeading]="statsHeading"
></app-chart-group>
