<p class="font-semibold text-2xl">Users and Shifts Statistics</p>
<section class="center justify-evenly gap-4 p-4">
  <!-- STATISTICS -->
  <ng-container *ngFor="let item of usersShiftsCountData"
    ><app-count-card [item]="item"></app-count-card
  ></ng-container>
</section>

<section class="grid grid-cols-6 grid-rows-12 gap-4 p-4 w-full h-full">
  <!-- CHARTS -->
  <app-chart
    #pieChart
    [pieChartData]="pieChartData"
    [pieChartOptions]="pieChartOptions"
    [chartType]="'pie'"
    class="col-span-2 row-span-6"
  ></app-chart>
  <app-chart
    #barChart
    [barChartData]="barChartData"
    [barChartOptions]="barChartOptions"
    [chartType]="'bar'"
    class="col-span-4 row-span-6"
  ></app-chart>
  <app-chart
    #lineChart
    [lineChartData]="lineChartData"
    [lineChartOptions]="lineChartOptions"
    [chartType]="'line'"
    class="col-span-4 row-span-6"
  ></app-chart>
  <app-chart
    #polarArea
    [polarAreaChartData]="polarAreaChartData"
    [polarAreaChartOptions]="polarAreaChartOptions"
    [chartType]="'polarArea'"
    class="col-span-2 row-span-6"
  ></app-chart>
</section>
