<p class="font-semibold text-2xl">Users and Shifts Statistics</p>
<section class="center justify-evenly gap-4 p-4">
  <!-- STATISTICS -->
  <ng-container *ngFor="let item of usersShiftsCountData"
    ><app-count-card [item]="item"></app-count-card
  ></ng-container>
</section>

<section class="grid grid-cols-4 gap-4 p-4">
  <!-- CHARTS -->
  <app-chart
    [pieChartLabels]="pieChartLabels"
    [pieChartDatasets]="pieChartDatasets"
    class="col-span-2"
  ></app-chart>
  <app-chart
    [pieChartLabels]="pieChartLabels"
    [pieChartDatasets]="pieChartDatasets"
    class="col-span-2"
  ></app-chart>
</section>
