<div class="center gap-4 mb-4">
  <form
    class="flex-1 grid grid-cols-7 gap-6 p-2 shadow-all-sides rounded-md bg-slate-600"
    [formGroup]="searchForm"
  >
    <!-- ITEMS COUNTS -->
    <div
      class="col-span-1 col-start-2 row-start-2 center shadow-all-sides rounded-md bg-white"
    >
      <div>{{ parent === "all-users" ? "Users:" : "Shifts:" }}</div>
      <span class="font-bold text-[16px]">{{ shiftsCount }}</span>
    </div>
    <!-- FIRST ROW -->
    <div class="center gap-4 col-span-3 col-start-3">
      <label class="flex-1 custom-search-label">
        <input
          type="text"
          name="workplace"
          [placeholder]="
            parent === 'all-users' ? 'Search by name' : 'Search by workplace'
          "
          formControlName="nameQuery"
          class="w-full custom-search-input"
        />
      </label>
      <label
        *ngIf="parent === 'my-shifts' || parent === 'all-shifts'"
        class="flex-1 custom-search-label"
      >
        <input
          type="month"
          name="yearMonth"
          id="yearMonth"
          formControlName="yearMonthQuery"
          (change)="getShiftsByDate(filters!.queryLimit)"
          class="custom-search-input"
        />
      </label>
      <label class="center flex-1 custom-search-label">
        <select
          name="sorterBy"
          id="sorterBy"
          formControlName="sortByQuery"
          class="custom-search-input"
        >
          <option *ngFor="let filter of sortBy" value="{{ filter.value }}">
            {{ filter.name }}
          </option>
        </select>
        <div class="w-[30px] cursor-pointer">
          <div class="center">
            <mat-icon fontIcon="swap_vert"></mat-icon>
          </div>
        </div>
      </label>
    </div>

    <!-- SECOND ROW -->

    <div class="center gap-4 col-span-3 col-start-3">
      <label
        *ngIf="parent === 'my-shifts' || parent === 'all-shifts'"
        class="center flex-1 custom-search-label"
      >
        <div class="custom-label-text">Start date</div>
        <input
          type="date"
          name="startDate"
          formControlName="startDateQuery"
          class="custom-search-input"
        />
      </label>
      <label
        *ngIf="parent === 'my-shifts' || parent === 'all-shifts'"
        class="center flex-1 custom-search-label"
      >
        <div class="custom-label-text">End date</div>
        <input
          type="date"
          name="endDate"
          formControlName="endDateQuery"
          class="custom-search-input"
        />
      </label>

      <!-- <div class="w-[0.5px] h-full bg-slate-300"></div> -->

      <label class="center flex-1 custom-search-label">
        <div class="custom-label-text">Results</div>
        <select
          type="number"
          name="queryLimit"
          id="queryLimit"
          formControlName="queryLimit"
          class="custom-search-input"
        >
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="all">All</option>
        </select>
      </label>
    </div>

    <!-- RESET BUTTON -->

    <div class="center col-span-1 col-start-6 w-full">
      <button
        type="button"
        (click)="resetFilters()"
        class="p-2 shadow-all-sides rounded-md border-2 border-transparent bg-white hover:border-baseColor w-full"
      >
        Reset
      </button>
    </div>
  </form>
</div>
