<div
  class="relative justify-between gap-4 p-6 mb-4 rounded-md center bg-lightBgSecondary dark:bg-darkBgPrimary shadow-light dark:shadow-dark"
>
  <form
    class="flex-wrap w-full gap-12 transition-all center-col"
    [formGroup]="searchForm"
  >
    <!-- main row of filters -->
    <div class="flex-wrap gap-6 center">
      <label *ngIf="parent === 'all-shifts'" class="custom-search-label">
        <div class="custom-label-text-r">Select user</div>
        <select
          name="userNames"
          id="userNames"
          formControlName="userNames"
          class="custom-search-input"
        >
          <option value="">-- select a user --</option>
          <option *ngFor="let user of userNames" value="{{ user.userID }}">
            {{ user.firstName }} {{ user.lastName }}
          </option>
        </select>
      </label>
      <div class="custom-search-label center">
        <label class="w-full">
          <input
            type="text"
            name="workplace"
            [placeholder]="
              parent != 'all-users' ? 'Search by workplace' : 'Search by name'
            "
            formControlName="nameQuery"
            class="w-full custom-search-input"
          />
        </label>
        <div (click)="searchShiftsByWorkplace()" class="cursor-pointer center">
          <mat-icon fontIcon="search"></mat-icon>
        </div>
      </div>
      <label *ngIf="parent != 'all-users'" class="flex-1 custom-search-label">
        <div class="custom-label-text-r">Shifts Period</div>
        <input
          type="month"
          name="yearMonth"
          id="yearMonth"
          formControlName="yearMonthQuery"
          (change)="searchByYearMonth()"
          class="custom-search-input"
        />
      </label>
      <div>
        <button
          type="button"
          (click)="resetFilters()"
          class="cursor-pointer center custom-search-label"
        >
          Reset<mat-icon fontIcon="restart_alt"></mat-icon>
        </button>
      </div>
      <div>
        <button
          (click)="toggleMoreFilters()"
          class="cursor-pointer center custom-search-label"
        >
          More<mat-icon fontIcon="expand_more"></mat-icon>
        </button>
      </div>
    </div>
    <div
      *ngIf="showMoreFilters"
      class="flex-wrap w-full gap-12 center justify-evenly"
    >
      <!-- second row of advanced filters -->
      <div *ngIf="parent != 'all-users'" class="flex-wrap gap-6 center">
        <label class="flex-1 center custom-search-label">
          <div class="custom-label-text-r">Start date</div>
          <input
            type="date"
            name="startDate"
            formControlName="startDateQuery"
            class="custom-search-input"
          />
        </label>
        <label class="flex-1 center custom-search-label">
          <div class="custom-label-text-r">End date</div>
          <input
            type="date"
            name="endDate"
            formControlName="endDateQuery"
            class="custom-search-input"
          />
        </label>
        <div>
          <button
            type="button"
            (click)="searchByPeriod()"
            class="cursor-pointer center custom-search-label"
          >
            Search<mat-icon fontIcon="search"></mat-icon>
          </button>
        </div>
      </div>
      <!-- fetch options -->
      <div class="flex-wrap gap-6 center">
        <label class="flex-1 min-w-max center custom-search-label">
          <div class="custom-label-text-r">Sort</div>
          <select
            name="sorterBy"
            id="sorterBy"
            formControlName="sortByQuery"
            class="custom-search-input"
          >
            <option *ngFor="let filter of sortBy" value="{{ filter.value }}">
              {{ filter.name }}
            </option>
          </select>
          <div (click)="changeSortOrder()" class="w-[30px] cursor-pointer">
            <div
              class="center"
              [style.transform]="
                orderBy === 'dsc' ? 'rotate(0deg)' : 'rotate(180deg)'
              "
            >
              <mat-icon fontIcon="filter_list"></mat-icon>
            </div>
          </div>
        </label>
        <label class="flex-1 min-w-[100px] center custom-search-label">
          <div class="custom-label-text-r">Results</div>
          <select
            type="number"
            name="queryLimit"
            id="queryLimit"
            formControlName="queryLimit"
            class="custom-search-input"
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="60">60</option>
            <option value="80">80</option>
            <option value="100">100</option>
            <option value="9999">All</option>
          </select>
        </label>
      </div>
    </div>
  </form>
</div>
