/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

// body {
//   overflow-x: hidden;
// }

:disabled {
  opacity: 0.5;
  filter: grayscale(1);
  cursor: not-allowed;
}

@layer components {
  .center {
    @apply flex items-center justify-center gap-2;
  }

  .center-col {
    @apply flex flex-col items-center justify-center gap-2;
  }

  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }

  .custom-input {
    @apply flex-1 p-3 outline-none bg-transparent dark:bgDark cursor-text;
  }

  .custom-label {
    @apply flex w-full border-b-2 border-black/50 bg-white dark:bgDark px-2 relative;
  }

  .custom-search-label {
    @apply bg-white dark:bgDark border-none p-2 rounded-md justify-between relative h-full cursor-text shadow-all-sides;
  }

  .custom-search-input {
    @apply outline-none  text-black min-w-[50%] border-b-[1px] border-accentColor/75 cursor-text bg-transparent dark:bgDark;
  }

  .custom-label-text-r {
    @apply absolute top-[-15px] right-2 px-2 bg-white dark:bgDark  rounded-md shadow-sm shadow-black/25;
  }

  .custom-label-text-l {
    @apply absolute top-[-15px] left-2 px-2 bg-white dark:bgDark rounded-md shadow-sm shadow-black/25;
  }

  .custom-link {
    @apply underline hover:text-accentColor cursor-pointer;
  }

  .hidden {
    display: none;
  }

  .activeNavLink {
    @apply text-accentColor;
  }

  .cta-btn {
  }

  .submit-btn {
    @apply outline-none text-white bg-baseColor rounded-md py-2 px-4 shadow-sm hover:shadow-lg transition-all;
  }

  .modal {
    @apply center absolute top-0 left-0 w-full h-full bg-black/50 z-10;
  }

  // ? THEME
  .bgDark {
    @apply bg-[#222222] text-[#fff]/75;
  }

  .bgDarkSecond {
    // @apply bg-[#474a48] text-white/70;
    @apply bg-[#323232] text-[#fff]/75;
  }

  .bgDarkThird {
    @apply bg-[#666666] text-[#fff]/75;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
}
