/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:disabled {
  opacity: 0.5;
  filter: grayscale(1);
  cursor: not-allowed;
}

@layer components {
  .center {
    @apply flex items-center justify-center gap-2;
  }

  .center-col {
    @apply flex flex-col items-center justify-center gap-2;
  }

  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }

  .custom-input {
    @apply flex-1 p-3 max-md:p-2 outline-none bg-transparent dark:bg-darkBgPrimary cursor-text;
  }

  .custom-label {
    @apply flex w-full border-b-2 border-lightBorder/50 bg-lightBgPrimary dark:bg-darkBgPrimary dark:text-darkTextSecondary dark:border-darkAccent px-4 relative;
  }

  .custom-search-label {
    @apply bg-lightBgPrimary dark:bg-darkBgSecondary text-lightTextPrimary dark:text-darkTextPrimary border-none p-2 rounded-md justify-between relative h-full cursor-text shadow-light dark:shadow-dark;
  }

  .custom-search-input {
    @apply outline-none  text-inherit  min-w-[50%] border-b-[1px] border-lightAccent/75 cursor-text bg-inherit;
  }

  .custom-label-text-r {
    @apply absolute top-[-15px] right-2 px-2 bg-lightBgPrimary dark:bg-darkBgSecondary  rounded-md shadow-light dark:shadow-dark;
  }

  .custom-label-text-l {
    @apply absolute top-[-15px] left-2 px-2 bg-lightBgPrimary dark:bg-darkBgSecondary rounded-md shadow-light dark:shadow-dark;
  }

  .custom-link {
    @apply underline hover:text-lightAccent  cursor-pointer;
  }

  .hidden {
    display: none;
  }

  .activeNavLink {
    @apply text-lightAccent;
  }

  .cta-btn {
  }

  .submit-btn {
    @apply outline-none text-darkTextPrimary font-semibold bg-lightPrimary rounded-md py-2 px-4 shadow-sm hover:shadow-lg transition-all;
  }

  .modal {
    @apply center absolute top-0 left-0 w-full h-full bg-black/50 z-10;
  }

  .error-message {
    @apply absolute bottom-[-25px] left-0 text-red-500 max-md:text-sm;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
}

label:has(input.ng-touched),
label:has(input.ng-dirty),
label:has(select.ng-touched),
label:has(select.ng-dirty) {
  border-color: red;
}

label:has(input.ng-valid),
label:has(select.ng-valid) {
  border-color: initial;
}
