<section class="min-h-[150px] my-[50px] center justify-start gap-4 flex-wrap">
  <div
    *ngIf="showModal"
    (click)="closeModal($event)"
    class="modal center backdrop-blur-sm"
  >
    <div class="p-8 m-4 rounded-md bg-lightBgSecondary dark:bg-darkBgSecondary">
      <!-- NEW PASSWORD FORM -->
      <ng-container *ngIf="changeType === 'password'">
        <form [formGroup]="changePasswordForm" class="gap-10 center-col">
          <p class="text-xl">
            Please input your credentials and new <span>{{ changeType }}</span>
          </p>
          <label
            *ngFor="let input of changePasswordFormData"
            class="relative flex custom-label"
          >
            <div class="custom-label-text-l">{{ input.name }}</div>
            <input
              formControlName="{{ input.formControl }}"
              type="{{ input.type }}"
              class="custom-input w-[300px] max-md:w-[200px]"
            />
            <div
              *ngIf="formStatusPassword(input.formControl)"
              class="error-message"
            >
              {{ getErrorMessagePassword(input.formControl) }}
            </div>
          </label>
          <div class="gap-4 center">
            <button
              (click)="changeCredential($event, changeType)"
              [disabled]="changePasswordForm.invalid"
              type="submit"
              class="submit-btn bg-lightSucces"
            >
              Change
            </button>
            <button
              (click)="closeModal($event)"
              type="submit"
              class="submit-btn bg-lightError"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>
      <!-- NEW EMAIL FORM -->
      <ng-container *ngIf="changeType === 'email'">
        <form [formGroup]="changeEmailForm" class="gap-10 center-col">
          <p class="text-xl">
            Please input your credentials and new <span>{{ changeType }}</span>
          </p>
          <label
            *ngFor="let input of changeEmailFormData"
            class="relative flex custom-label"
          >
            <div class="custom-label-text-l">{{ input.name }}</div>
            <input
              formControlName="{{ input.formControl }}"
              type="{{ input.type }}"
              class="custom-input w-[300px] max-md:w-[200px]"
            />
            <div
              *ngIf="formStatusEmail(input.formControl)"
              class="error-message"
            >
              {{ getErrorMessageEmail(input.formControl) }}
            </div>
          </label>
          <div class="gap-4 center">
            <button
              (click)="changeCredential($event, changeType)"
              [disabled]="changeEmailForm.invalid"
              type="submit"
              class="submit-btn bg-lightSucces"
            >
              Change
            </button>
            <button
              (click)="closeModal($event)"
              type="submit"
              class="submit-btn bg-lightError"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
  <app-button-icon
    (click)="openModal($event, 'password')"
    [parent]="'Change Password'"
    [style]="['bg-lightPrimary', 'hover:bg-lightPrimary']"
  ></app-button-icon>
  <app-button-icon
    (click)="openModal($event, 'email')"
    [parent]="'Change Email'"
    [style]="['bg-lightPrimary', 'hover:bg-lightPrimary']"
  ></app-button-icon>
  <app-button-icon
    (click)="verifyEmail()"
    [parent]="'Verify Email'"
    [style]="['bg-lightPrimary', 'hover:bg-lightPrimary']"
  ></app-button-icon>
</section>
